
.room_table {
    font-weight: bold;
    margin: 0 auto;
    background-color: antiquewhite;
    width: 800px;
    height: 400px;
    overflow :auto;
    border: 2px solid #000;
    border-collapse: collapse;
}

.room_tr {
    text-align: center;
}

.room_th {
    background-color: aqua;
}

.room_main {
    position: sticky;
    top: 0;
    background: aqua;
    top: 0;
    z-index: 1;
  }