.room_table {
    border: 4px solid #000;
    border-spacing: 0; 
    border-collapse: collapse; 
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    background-color: antiquewhite;
    width: 800px;
    height: 400px;
    overflow :auto;
}

.room_sub {
    background-color: rgb(168, 159, 159);
}

.room_tr {
    text-align: center;
}

.room_th {
    background-color: aqua;
}

.room_main {
    position: sticky;
    top: 0;
    background: aqua;
    top: 0;
    z-index: 1;
  }