.room_table {
    overflow-y: scroll;
    border: 4px solid #000;
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 10px 10px 10px 10px;
    margin: 0 auto;
    width: 80%;
    height: 1600px;
    overflow :auto;
}

.room_head{
   height: 120px;
   background-color: rgb(160, 203, 240);
}

.room_sub {
    background-color: rgb(235, 230, 230);
}

.room_main {
    background: rgb(245, 195, 184);
    width: 200px;
  }

.room_status {
    text-align: center;
}