.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -100px;
  left: 0%;
  transition: top 300ms;
  box-shadow: 2px 2px 4px gray;
  font-family: monospace;
  font-size: 35px;
  padding: 5px 0px;
}
