.header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0px;
  left: 0%;
  transition: top 300ms;
  box-shadow: 2px 2px 4px grey;
  font-family: monospace;
  font-size: 7px;
}
