/* TODO: HTMLのタグ名をclass名とするのは好ましくないので、いつか修正する。 */
.ul {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

.li {
    list-style: none;
    padding-right: 10px;
    width: 300px;
    border: 1px solid;
    border-radius: 30px;
    margin: 15px;
    display: inline-block;
    box-shadow: 6px 6px #578BDA;
}

.class_room {
    padding-left: 10px;
    font-weight: bold;
}

.time {
    text-align: center;
}

.decision {
    text-align: center;
    margin: 5px 40px;
    color:#578BDA;
    cursor: pointer;
    /* background-color: #578BDA; */
    /* border:2px solid #578BDA; 
	border-radius: 3px; */
    /* -webkit-border-radius:3px;
    -moz-border-radius:3px; */
    /* outline: none; */
}

/* .button {
    
}     */

/* .deision :active {
        -webkit-box-shadow:inset 0px 0px 8px #334c66;
    -moz-box-shadow:inset 0px 0px 2px #3a6da0;
    box-shadow:inset 0px 0px 2px #3a6da0;
    color: #fff;
} */