ul {
    display: flex;
}

li {
    list-style: none;
    padding-right: 10px;
    width: 300px;
    border: 1px solid;
    border-radius: 30px;
    margin: 15px;
}

.class_room {
    padding-left: 10px;
    font-weight: bold;
}

.time {
    text-align: center;
}

.decision {
    text-align: center;
    border: 1px solid;
    margin: 5px 40px;
    border-radius: 30px;
}