/* TODO: 一旦完成したら再度使用して、CSSを排除する */
/* @import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities"; */

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* FIXME: Tailwindと同じようにしているが、早く教育して消したい。 */
.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.m-auto {
  margin: 0 auto;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-24 {
  margin-top: 6rem;
}

.ml-auto {
  margin-left: auto;
}

.ml-3 {
  margin-left: 0.75rem;
}

.ml-20 {
  margin-left: 5rem;
}

.mr-auto {
  margin-right: auto;
}

.mr-20 {
  margin-right: 5rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.text-left {
  text-align: left;
}

.block {
  display: block;
}